body
{
	font-family:'Yu Mincho', 'Book Antiqua', Century, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #FBEEC1 ;
	background-color: #659DBD;
	margin-left: 75px;
	margin-right: 75px;
}


header, footer
{
	text-align: center;
	color: #DAAD86;
	font-weight: bold;
}

h1, h2, h3
{
	color: #FBEEC1;
	font-family: 'Yu Mincho', 'Book Antiqua', Century, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}

h3
{
	font-size: 200%;
	line-height: 0px;
}

a
{
	text-decoration: none;
	color:ivory;
}

a:hover
{
	text-decoration: overline underline;
}


figure
{
	text-align: center;
  

}

figcaption
{
	font-style: italic;
}


nav
{
	text-align: center;
}

img.resize {
  max-width:25%;
  max-height:25%;
}